body{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2vh;
  align-items: center;
  align-content: center;
}

footer div div input {
  border: none;
  position: relative;
}

.meses_garantias{
  border: none;
  width: 1.6vh;
}

main{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 1vh;
}

.main{
background-image: url(logoOmega.png);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: auto;
margin: auto;
}

.main img{
  padding: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
  position: absolute;
}

.logoOmega1{
  padding: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

h1{
  font-size: 3vh;
  width: 40%;
  margin-right: 8vh;
}

.fYFolio{
  width: 6vw;
}

.f{
  display: flex;
}
.cabezal{
  display: flex;
  background-color: rgb(255, 255, 255); 
  padding: 1vh;
  width: 90%;
  border-radius: 1vh;
  margin-top: 2vh;
}

.slogan{
margin-right: 2vh;
}

.notaYfolio{
  display: flex;
}

.folioYFecha{
  display: flex;
  flex-direction: column;
  width: 10vh;
}

.direccionweb{
  margin: 0 0 0 1%;
}

.direccion{
  width: 50%;
  height: 15vh;
  text-align: center;
}

.c2{
  border: none;
  margin-right: 5%;
  width: 16%;
}

.servicior{
  margin-left: 2%;
}

.dtc{
  margin-left: 1%;
  width: 100%;
}

.dir{
  width: 20%;
  border: none;
}

.folio{
  width: 40%;
  border: none;
}
.numero{
  width: 10%;
  margin-right: 1%;
  border: none;
}

.logoynota{
  display: flex;
  width: 20%;
  margin-right: 2vh;
}

.logoOmega{
  width: 100%;
  height: 100%;
}

.omegamc{
  text-align: center;
  margin: 1%;
  font-size: 3vh;
}

.nombrecito{
  width: 26%;
  height: 10%;
  margin-right: 1%;
  border: none;
}

.datos{
  display: flex;
  margin: 2%;
  flex-wrap: wrap;
}

.tel{
  width: 14%;
  margin-right: 1%;
  border: none;
}

.cp{
  width: 6%;
  border: none;
}

.tequipo{
  border: none;
  width: 5%;
}

.marca{
  border: none;
  width: 5%;
}

.falla{
  border: none;
  width: 5%;
  margin-right: 15%;
}
.servicio{
  margin-left: 2%;
}

.fecha{
  border: none;
  width: 8vh;
}

.fechagarantia{
  border: none;
  width: 2%;
  margin: 0 0.1vh 0 0.2vh;
}

.fechagarantia2{
  border: none;
  width: 5%;
}

.fechagarantia3{
  border: none;
  width: 5%;
}

.QR{
  margin: 0 5% 5% 5%;
  width: 15%;
  height: 85%;
}

.firma{
  border-bottom: solid black;
  width: 30%;
  height: 5vh;
  margin: 2vh 1vh 0 1vh;
  text-align: center;
}

.linea{
  border: solid 1px black;
  width: 90%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.firmaQr{
  display: flex;
  height: 10vh;
}

.presupuesto{
  display: flex;
  margin-left: 2vh;
  flex-wrap: wrap;
}

.presu{
  border: none;
  width: 5%;
  margin-right: 7vh;
}

.acciones{
  width: 90%;
  height: 12vh;
  text-align: center;
  margin-left: 5vw;

}

.p_acciones{
  text-align: center;
}

.icowhats{
  width: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
}